@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

/* Estilos para o card da turma */
.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    flex: 0 1 calc(50% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  

/* Cabeçalho do card */
.card-header {
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}

/* Nome do curso */
.course-name {
    font-family: 'Google Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

/* Ano */
.course-year, .professor-name {
    font-family: 'Google Sans', sans-serif;
    font-size: 14px;
    color: gray;
    margin: 4px 0;
}

/* Corpo do card */
.card-body {
    font-family: 'Google Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

/* Informações do trabalho */
.assignment-info {
    font-size: 14px;
    color: gray;
}

/* Circulo do perfil */
.profile-circle {
    width: 55px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

/* Rodapé do card com ícones */
.card-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.card-footer .card-icon-clipboard {
    width: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: gray;
}

.card-footer .card-icon-folder {
    width: 30px;
    color: gray;
    margin-top: 10px;
}
