body {
    background-color: white;
}

.sidebar {
    width: 50px;
    height: 100vh; 
    background-color: #ffffff; 
    color: #34495e; 
    position: fixed; 
    top: 0;
    left: 0;
    padding: 20px;
}

.sidebar-header {
    margin-bottom: 50px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.house {
    margin-bottom: 30px;
}

.book-open, .user-group, .graduation-cap, .box-archive, .gear {
    margin-top: 30px;
    font-size: 20px !important;
    display: inline-block;
}

.book-open, .bars, .house, .user-group, .graduation-cap, .calendar {
    font-size: 20px !important;
    cursor: pointer;
    display: inline-block;
}

